.footer {
    background-color: #000000;
    padding: 70px 0;
}

.footer__content {
    padding: 0 200px;
}

.social__list {
    display: flex;
    justify-content: center;
    padding: 35px 0;
}

.social__item:not(:last-child) {
    margin-right: 5px;
}

.social__item {
    width: 30px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__icon {
    display: block;
    width: 12px;
    height: 12px;
}

.footer__description {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
}