.nav__list-wrapper {
    margin: 45px 0;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    min-width: 150px;
}

.nav__link {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
    text-decoration: none;
}

.active-nav-link {
    color: #57A4A4;
}

.hero__img {
    display: block;
    width: 100%;
    object-fit: cover;
}