.instargam-shots-section {
    padding: 20px 0;
    background-color: #f2f2f2;
}

.instagram__heading-wrapper {
    display: flex;
    justify-content: space-between;
}

.instagram__list {
    display: flex;
    padding: 20px 0;
}

.instagram__item:not(:last-child) {
    margin-right: 10px;
}

.instagram__item {
    flex: 1;
}

.instagram__img {
    display: block;
    width: 100%;
    object-fit: cover;
}