.posts-section {
    padding: 70px 0;
}

.post__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px 25px;
}

.post__item {
    display: flex;
    text-decoration: none;
}

.post__img-wrapper {
    min-width: 160px;
}

.post__img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.post__content {
    padding-left: 20px;
}

.post__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #4E4E4E;
}

.post__info {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C;
}

.post__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
}