@media (max-width:1199px) {
    .post__list {
        grid-template-columns: 1fr;
    }
    .instagram__item:nth-child(3) {
        display: none;
    }
    .footer__content {
        padding: 10px 0;
    }
}