body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.heading {
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;
    padding: 15px 0;
    color: #000;
    &--default {
        font-size: 16px;
    }
    &--medium {
        font-size: 16px;
    }
    &--footer {
        text-align: center;
        font-size: 16px;
        color: #FEFEFE;
    }
    &--link {
        text-decoration: none;
        font-size: 13px;
    }
}

.fill {
    &--orange {
        fill: $color--orange;
    }
    &--blue {
        fill: $color--blue;
    }
    &--light-blue {
        fill: $color--light-blue;
    }
    &--pink {
        fill: $color--pink;
    }
    &--red {
        fill: $color--red;
    }
}

.border {
    &--orange {
        border-color: $color--orange;
    }
    &--blue {
        border-color: $color--blue;
    }
    &--light-blue {
        border-color: $color--light-blue;
    }
    &--pink {
        border-color: $color--pink;
    }
    &--red {
        border-color: $color--red;
    }
}

.btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    &--burger {
        display: none;
        position: relative;
        background-color: #000000;
        width: 44px;
        padding: 18px 0;
    }
}

.line {
    width: 17px;
    height: 2px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    &::after,
    &::before {
        transition: .1s;
        content: "";
        position: absolute;
        display: block;
        background-color: #fff;
        transform: rotate(0deg);
        width: 17px;
        height: 2px;
    }
    &:after {
        top: 5px;
    }
    &:before {
        bottom: 5px;
    }
}

.burger--active {
    .line {
        background-color: transparent;
        &:after {
            top: 0px;
            transform: rotate(-45deg);
        }
        &:before {
            bottom: 0px;
            transform: rotate(45deg);
        }
    }
}