@media (max-width:767px) {
    .nav__list-wrapper {
        justify-items: flex-end;
    }
    .nav__list-wrapper .btn--burger {
        display: block;
        margin-left: auto;
    }
    .nav__list-wrapper {
        display: flex;
        position: relative;
    }
    .nav__list {
        display: none;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        background-color: #F5F5F5;
        transform: translateY(100%);
    }
    .nav-open {
        display: flex;
    }
    .nav__link {
        padding: 5px 13px;
        &:hover {
            background-color: #E5E5E5;
        }
    }
    .post__item {
        display: block;
    }
    .post__content {
        padding: 0;
    }
    .post__img-wrapper {
        width: 50%;
    }
    .post__description {
        display: none;
    }
    .instagram__item:not(:first-child) {
        display: none;
    }
    .instargam-shots-section .heading:not(:first-child) {
        display: none;
    }
    .footer__content {
        padding: 30px 0;
    }
}